@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');

#root{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(#102D4B, #000) ;
}

.App {
  background-image: url("./img/abstract-blue-polygonal-vector-background_1365-90.jpg");
  background-position: bottom;
  background-size: 500px;
}